*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.joke-button{
    background-color: magenta;    
    color: white;
    font-size: 28px;
    font-weight: bolder;
    transition: 0.2s;
    cursor: pointer;
    padding: 30px;
  position: relative;
  box-shadow:0 5px 15px 2px rgba( 255,255, 255, 0.5);
  overflow: hidden;
}

.joke-button::before{
    position: absolute;
    display: block;
    content: '';
    background-color: white;
    opacity: 0.5;
    width: 20px;
    height: 200%;
    left: -70px;
    bottom:-25px;
    transition: 0.5s;
    transform: rotate(45deg);
}

.joke-button:hover::before{
   left: 250px;

}

.joke-button:active{
    transform: scale(0.95);
}