*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: orangered;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.wrapper div{
    background-color: white;
   width: 200px;
   height: 200px;
   margin: 25px;
   border: 2px solid white;
}

div.active{
    background-color: lightgrey;
    border: 1px dashed black;
}

img{
    width: 100%;
    height: 100%;
}
img.invisible{
    opacity: 0;
}